wwwroot/lib/alpinejs/cdn.js
wwwroot/lib/alpinejs/cdn.min.js
wwwroot/lib/alpinejs/module.cjs.js
wwwroot/lib/alpinejs/module.cjs.min.js
wwwroot/lib/alpinejs/module.esm.js
wwwroot/lib/alpinejs/module.esm.min.js
