<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MindfulDigger</title>    
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/notes.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MindfulDigger.styles.css" asp-append-version="true" />
</head>
<body class="texture-bg">
    <header>
        <nav class="bg-white shadow-lg section-spacing">
            <div class="max-w-6xl mx-auto px-4 section-spacing">
                <div class="relative flex items-center justify-between h-16">
                    <!-- Logo -->
                    @* <div class="absolute left-0">
                        <a class="text-xl font-bold text-gray-800 accent-terra" asp-area="" asp-page="/Index">MindfulDigger</a>
                    </div> *@
                    
                    @* <div class="md:hidden">
                        <button 
                            type="button" 
                            class="text-gray-500 hover:text-gray-600 focus:outline-none focus:text-gray-600" 
                            aria-label="Menu mobilne">
                            <svg viewBox="0 0 24 24" class="h-6 w-6 fill-current">
                                <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
                            </svg>
                        </button>
                    </div> *@

                    <!-- Desktop menu -->
                    <div class="hidden md:flex mx-auto">
                        <div class="flex space-x-8">
                            @{
                                var currentPage = ViewContext.RouteData.Values["Page"]?.ToString();
                            }
                            @if("/Summaries" == currentPage)
                            {
                                <span class="text-gray-900 px-3 py-2 rounded-md text-base font-bold accent-terra">Podsumowania</span>
                            }
                            else
                            {
                                <a class="text-gray-700 hover:text-gray-900 px-3 py-2 rounded-md text-base font-medium accent-blue" asp-area="" asp-page="/Summaries">Podsumowania</a>
                            }

                            @if("/Notes" == currentPage)
                            {
                                <span class="text-gray-900 px-3 py-2 rounded-md text-base font-bold accent-terra">Notatki</span>
                            }
                            else
                            {
                                <a class="text-gray-700 hover:text-gray-900 px-3 py-2 rounded-md text-base font-medium accent-blue" asp-area="" asp-page="/Notes">Notatki</a>
                            }

                            @if("/Accounts" == currentPage)
                            {
                                <span class="text-gray-900 px-3 py-2 rounded-md text-base font-bold accent-terra">Moje konto</span>
                            }
                            else
                            {
                                <a class="text-gray-700 hover:text-gray-900 px-3 py-2 rounded-md text-base font-medium accent-blue" asp-area="" asp-page="/Accounts">Moje konto</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 section-spacing">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted section-spacing">
        <div class="container">
            &copy; 2025 - MindfulDigger - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <!-- Komponent powiadomień, dostępny globalnie -->
    @* <partial name="_Notifications" /> *@

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/lib/alpinejs-focus/dist/cdn.min.js" defer></script>
    <script src="~/lib/alpinejs/cdn.min.js" defer></script>
    <link rel="stylesheet" href="~/css/tailwind.generated.css" asp-append-version="true" />

</body>
</html>