@model IEnumerable<MindfulDigger.DTOs.NoteListItemDto>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6" id="notes-grid">
    @foreach (var note in Model)
    {
        <partial name="_NoteCard" model="note" />
    }
</div>
