<div class="bg-white rounded-lg shadow-md p-8 border border-gray-200">
    <div class="flex flex-col space-y-6">
        <div class="flex items-center space-x-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <div class="text-gray-500 text-sm" x-text="note ? formatDate(note.creationDate) : ''"></div>
        </div>
        <div class="text-gray-800 whitespace-pre-wrap break-words leading-relaxed min-h-[200px] text-lg" x-text="note ? note.content : ''"></div>
    </div>
</div>
